gs2000+25_1.ps/vps
'MONI'  '$monitorFile' / 
'RIG'  10.0 20.0/ MIN/MAX CUT-OFF RIGIDITY                               
'TMP'  -30.0   60.0   20.0/ MIN/MAX AVE TEMP, MAX TEMP GRADIENT         
'TRN'    0            / MINIMUM TRANSMISSION OF THE TARGET SOURCE       
'BIT'   '$bitRate'            / BITRATE SELECTION , 'ANY', 'HI' 'MID', 'LOW' 
'SYNC'  0                / MIMIMUM NUMBER OF BAD FRAMES                 
'ACE'   1                / 1=ONLY FOR POINTING MODE,  0=FOR ANY MODE    
'ELV'   3.0   999.0     0  /MIN, MAX,  -1/0/1/2=ANY/SKY/DARK/BRITE      
'ENG' 1   '22.1,35.1'   / ENERGY SCALE,  LEVEL, ' DATA '                
'COR'   1  1  1  1  1  0 / BGDSBT,ASPECT,DTIME,ENGSCAL,CNTSCL,CAL
#if( $template.hasBackground )       
'BGD'   $bgMethodInt, ' ''$bgFileName'', $bgSubFileNumber, ''NONE'' ' /
#end
'LAC'   $channel1 $channel2 $channel3 $channel4 $channel5 $channel6 $channel7 $channel8  '$mode'  $mixedMode /                                   
'PLT' 1 , 1  0  1.0  50.0, 1 1 1.0E+1 1.0E-1 /
'BIT'  '$bitRate'/ BIT RATE SELECTION   'ANY' 'HI' 'MED' 'LOW'               
'OUT'   '$spectralFile' /                                   
'FILE'  '$regionFile' /